@import 'mixins';
@import "variables";
@import 'main/sidebar';
@import '1bx';




.mcm-lkjhgf {
  background-image: linear-gradient(#2c548e, #406da2);
  text-align: center;
  color: #FFF;
}




.bl-border {
  border: 1px solid #a5c473;
  background-color: #FFF;
}

.bl-fa {
  padding-bottom: 200px;
}

.bl-bck-box-00{
  background-color: #f3f2f2;
  text-align: center;
  padding: 190px 31px 190px 31px;
}

.bl-bck-box-01 {
  background-color: #2c548e;
  color: #FFFFFF;
  padding-top: 90px;
  padding-bottom: 90px;
}

.bl-bck-box-02 {
  background-color: #e9e9e9;
  border-radius: 4px;
  padding: 64px;
}

.bl-bck-box-03 {
  background-color: #faf954;
}

.bl-h1 {
  font-weight: bold;
}

.bl-light {
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  line-height: 1.6;
}

.bl-button {
  background-color: #faf954;
  border-color: #faf954;
  padding: 10px 21px 10px 21px;
  color: #212121;
  margin-block: 15px;
}

.bl-tc {
  color: #000000;
  font-weight: bolder;
}

.bl-center {
  text-align: center;
}

.bl-yel {
  color: #ab2c9c;
}

.bl-ts {
  font-size: 28px;
  padding: 0px 61px 0px 61px;
}

.bl-ic {
  font-size: 64px;
}







.buttons-bl {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Lato', sans-serif;
  border: 1px solid #2c548e;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

.buttons-bl:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}

.button-pad {
  padding-top: 10px;
  padding-bottom: 10px;
}




.mkt-audit {
  background-color: #2c548e;
  text-align: center;
  padding: 65px 31px 80px 31px;
}
.mkt-text-bold {
  font-weight: bold;
}
.mkt-wh {
  color: #FFF;
}
.mkt-p-audit-001 {
  color: #FFF;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.6;
}
.mkt-4box-icon-challenges {
  text-align: right;
}
.mkt-button-audit {
  background-color: #faf954;
  border-color: #faf954;
  border-radius: 5px;
  color: #1C1C1C;
  padding: 12px;
}




.lightbox {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 41px;
}
.lightbox h1 {
  color: white;
}


.mkt-bord-form {
  background-color: #FFF;
  padding: 41px;
  border-radius: 12px;
}

.mkt-lh {
  line-height: 0.7;
}

.mkt-submit-form {
  padding: 21px;
}

.mkt-sub-form {
  padding: 2px 12px 2px 12px;
  background-color: #2c548e;
  border-radius: 12px;
  color: #FFF;
}


#contact-form {
  width: 300px;
  height: 500px;
  @include desktop {
    width: 630px;
    height: 500px;
  }
}

.contact-form-wrapper-b {
  display: flex;
  justify-content: flex-start;
}

.contact-textfield-b {
  color: $t13-dark-gray;
}

.contact-textfield-b > input {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact-h1-b  {
  color: $t13-dark-gray;
  display: flex;
}

.contact-h1-b > h1 {
  border-bottom: 2px solid #ccc;
}

.contact-textfield-b > textarea {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.contact-submit-b {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: bottom;
  align-items: center;
}

.contact-submit-b > input {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: none;
  border-width: 1px;
  border-color: #2c548e;
  margin:auto;
}

.contact-submit-b > input:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}





