@import 'mixins';
@import 'main/sidebar';

.careers-main {
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.careers-body {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
