@import 'mixins';
@import "variables";
@import 'main/sidebar';



a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: #2c548e;
}

.mkt-OP {
  font-family: 'Overpass', sans-serif;
}

.mkt-background-color-000 {
  background-color: #0489DB;
}

.mkt-background-color-001 {
  background-color: #EEEEEE;
  padding: 21px;
}

.mkt-title {
  font-family: 'Lato', sans-serif;
  color: #1C1C1C;
  text-align: center;
  padding: 31px 4px 15px 4px;
}




.mkt-site-img {
  text-align: center;
  padding-bottom: 51px;
  max-width: 880px;
  max-height: 500px;
}

.mkt-h2-title {
  color: #FFF;
  text-align: left;
  border-left: thick solid #faf954;
}

.mkt-bullets {
  color: #FFF;
  font-size: 18px;
  font-weight: lighter;
  text-align: left;
  padding: 21px 8px 21px 8px;
}





.mkt-3box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 41px 8px 41px 5px;
  position: relative;
}

.md-48 {
  font-size: 48px;
}

.mkt-3box-icon-000 {
  text-align: center;
  font-size: 21px;
  color: #FFF;
  border-spacing: 2px;
}

.mkt-3box-icon-001 {
  text-align: center;
  font-size: 21px;
  color: #FFF;
  border-left: thin solid #C0C0C0;
  border-right: thin solid #C0C0C0;
  border-spacing: 2px;
}

.mkt-3box-icon-002 {
  text-align: center;
  font-size: 21px;
  color: #FFF;
  border-spacing: 2px;
}

.mkt-3box-text-item {
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #FFF;
}

.mkt-3box-text-item-000 {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #FFF;
}

.mkt-3box-text-item-001 {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #FFF;
}

.mkt-3box-text-item-002 {
  font-family: 'Overpass', sans-serif;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  color: #FFF;
}

.mkt-p-001 {
  font-family: 'Overpass', sans-serif;
  font-size: 21px;
  line-height: 1.2;
  color: #FFF;
  text-align: center;
  padding: 0px 64px 0px 64px;
}






.mkt-4box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 31px;
  padding: 31px;
}

.mkt-4box-item {
  background-color: #FFFFFF;
  text-align: left;
  font-size: 21px;
  padding: 41px 21px 3px 21px;
  margin-bottom: 8px;
}





.mkt-4box-h3-goals {
  color: #686d6f;
  text-align: left;
  border-left: thick solid #0489DB;
  border-spacing: 2px;
}

.mkt-4box-h3-padding-goals {
  padding-left: 4px;
}

.mkt-4box-h5-goals {
  text-align: left;
  font-weight: lighter;
  padding: 5px 4px 8px 5px;
}

.mkt-4box-p-goals {
  font-size: 15px;
  text-align: left;
  padding-top: 8px;
  padding-left: 4px;
  line-height: 1.6;
  color: #7e7e7e;
}

.mkt-4box-icon-goals {
  text-align: right;
}

.mkt-md-36 {
  font-size: 32px;
  html{scroll-behavior:smooth}
}




.mkt-4box-h3-challenges {
  color: #686d6f;
  text-align: left;
  border-left: thick solid #ff0000;
  border-spacing: 2px;
}

.mkt-4box-h3-padding-challenges {
  padding-left: 4px;
}

.mkt-4box-h5-challenges {
  text-align: left;
  font-weight: lighter;
  padding: 5px 4px 8px 5px;
}

.mkt-4box-p-challenges {
  font-size: 15px;
  text-align: left;
  padding-top: 8px;
  padding-left: 4px;
  line-height: 1.6;
  color: #7e7e7e;
}

.mkt-4box-icon-challenges {
  text-align: right;
}




.mkt-4box-h3-approach {
  color: #686d6f;
  text-align: left;
  border-left: thick solid #faf954;
  border-spacing: 2px;
}

.mkt-4box-h3-padding-approach {
  padding-left: 4px;
}

.mkt-4box-h5-approach {
  text-align: left;
  font-weight: lighter;
  padding: 5px 4px 8px 5px;
}

.mkt-4box-p-approach {
  font-size: 15px;
  text-align: left;
  padding-top: 8px;
  padding-left: 4px;
  line-height: 1.6;
  color: #7e7e7e;
}

.mkt-4box-icon-approach {
  text-align: right;
}




.mkt-4box-h3-results {
  color: #686d6f;
  text-align: left;
  border-left: thick solid #28c700;
  border-spacing: 2px;
}

.mkt-4box-h3-padding-results {
  padding-left: 4px;
}

.mkt-4box-h5-results {
  text-align: left;
  font-weight: lighter;
  padding: 5px 4px 8px 5px;
}

.mkt-4box-p-results {
  font-size: 15px;
  text-align: left;
  padding-top: 8px;
  padding-left: 4px;
  line-height: 1.6;
  color: #7e7e7e;
}

.mkt-4box-icon-results {
  text-align: right;
}



.mkt-goals {
  padding-top: 21px;
  padding-left: 21px;
  padding-right: 21px;
  line-height: 1.6;
}

.mkt-h1-goals {
  color: #454545;
  padding: 10px;
  border-left: thick solid #0489DB;
  padding-left: 21px;
  padding-right: 21px;
}

.mkt-p-goals {
  font-size: 20px;
}




.mkt-audit {
  background-color: #0489DB;
  text-align: center;
  padding: 65px 31px 80px 31px;
}

.mkt-wh {
  color: #FFF;
}

.mkt-h2-audit {
  color: #FFF;
  text-align: center;
  font-family: 'Overpass', sans-serif;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mkt-p-audit-001 {
  color: #FFF;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.6;
}

.mkt-button-audit {
  background-color: #faf954;
  border-color: #faf954;
  color: #1C1C1C;
  padding: 12px;
}




.mkt-challenges {
  padding-top: 21px;
  padding-left: 21px;
  padding-right: 21px;
  line-height: 1.6;
}

.mkt-page3 {
  width:100%;
  clear:both;
}

.mkt-left-3 {
  float:left;
  width:50%;
}

.mkt-right-3 {
  float:left;
  width:50%;
}

.mkt-h1-challenges {
  color: #454545;
  padding: 10px;
  border-left: thick solid #ff0000;
  padding-left: 21px;
  padding-right: 21px;
}

.mkt-p-challenges {
  font-size: 20px;
}

.mkt-img-challenges {

}




.mkt-approach {
  padding-top: 21px;
  padding-left: 21px;
  padding-right: 21px;
  line-height: 1.6;
}

.mkt-h1-approach {
  color: #454545;
  padding: 10px;
  border-left: thick solid #faf954;
  padding-left: 21px;
  padding-right: 21px;
}

.mkt-p-approach {
  font-size: 20px;
}

.mkt-img-approach {
  text-align: center;
}




.mkt-approach {
  float: right;
}





.mkt-results {
  padding: 0px 21px 61px 0px;
  line-height: 1.6;
}

.mkt-h1-results {
  color: #454545;
  padding: 10px;
  border-left: thick solid #28c700;
  padding-left: 21px;
  padding-right: 21px;
}





.mkt-testimonial {
  background-color: #0489DB;
  color: #FFFFFF;
}

.mkt-img-testimonial {
  text-align: center;
  border-radius: 12px;
  padding-top: 21px;
  padding-bottom: 21px;
}


.mkt-title-testimonial {
  text-align: center;
}

.mkt-client-testimonial {
  border-left: thick solid turquoise;
}

.mkt-client-name-testimonial {
  padding-left: 4px;
  padding-bottom: 12px;
}

.mkt-p-testimonial {
  line-height: 1.8;
  padding: 21px 31px 21px 31px;
}




.mkt-pitch{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
}

.mkt-p2-pitch {
  font-family: Overpass, sans-serif;
  font-size: 28px;
  line-height: 1.1;
}

.mkt-p1-pitch {
  color: #666666;
  font-family: 'Overpass', sans-serif;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 400;
  letter-spacing: 0px;
  text-align: left;
}

.mkt-text-bold {
  font-weight: bold;
}




.mkt-cta {
  text-align: center;
  padding-left: 31px;
  padding-right: 31px;
}

.mkt-cta-title {
  font-size: 28px;
  font-weight: lighter;
}

.mkt-button-cta {
  background-color: #05CAB6;
}





#contact-form {
  width: auto;
  height: 500px;
  @include desktop {
    width: 630px;
    height: 500px;
  }
}

.contact-form-wrapper {
  display: flex;
  justify-content: flex-start;
}

.contact-textfield {
  color: #ABB0B2;
}

.contact-textfield > input {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact-h1  {
  color: $t13-dark-gray;
  display: flex;
}

.contact-h1 > h1 {
  border-bottom: 2px solid #ccc;
}


.contact-textfield > textarea {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.contact-submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

.contact-submit > input {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: none;
  border-width: 1px;
  border-color: #2c548e;
}

.contact-submit > input:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}

.mkt-contact-submit-b {
  background-color: #2c548e;
  border-color: #2c548e;
  padding: 12px;
  color: #FFFFFF;

}




.lightbox {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 41px;
}
.lightbox h1 {
  color: white;
}


.mkt-bord-form {
  background-color: #FFF;
  padding: 41px;
  border-radius: 12px;
}

.mkt-lh {
  line-height: 0.7;
}

.mkt-submit-form {
  padding: 21px;
}

.mkt-sub-form {
  padding: 2px 12px 2px 12px;
  background-color: #2c548e;
  border-radius: 12px;
  color: #FFF;
}


#contact-form {
  width: 300px;
  height: 500px;
  @include desktop {
    width: 630px;
    height: 500px;
  }
}

.contact-form-wrapper-b {
  display: flex;
  justify-content: flex-start;
}

.contact-textfield-b {
  color: $t13-dark-gray;
}

.contact-textfield-b > input {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact-h1-b  {
  color: $t13-dark-gray;
  display: flex;
}

.contact-h1-b > h1 {
  border-bottom: 2px solid #ccc;
}

.contact-textfield-b > textarea {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.contact-submit-b {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: bottom;
  align-items: center;
}

.contact-submit-b > input {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: none;
  border-width: 1px;
  border-color: #2c548e;
  margin:auto;
}

.contact-submit-b > input:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}





/* Small screens plus */
body .cf:after, body .cf:before, body .rf:after, body .rf:before, body .rr:after, body .rr:before, body .rw:after, body .rw:before{display:block;content:" ";}*, *:before, *:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}.b{font-weight:bold}.i{font-style:italic}.u{text-decoration:underline}.s{font-size:80%}.tl{text-transform:lowercase}.tu{text-transform:uppercase}.tc{text-transform:capitalize}p,ul,ol,h1,h2,h3,h4,pre,amp-img,figure,.bd,.bp,table,hr,iframe{margin-bottom:20px;word-wrap:break-word}li{margin-left:25px}body{width:auto;margin:0;padding:0;}.rf,.rw{margin-right:auto;margin-left:auto;padding-left:20px;padding-right:20px}.rr{margin-left:-20px;margin-right:-20px}[class^=rc]{position:relative;min-height:1px;padding-left:20px;padding-right:20px;float:left}.rcx12{width:100%}.rcx11{width:91.66666667%}.rcx10{width:83.33333333%}.rcx9{width:75%}.rcx8{width:66.66666667%}.rcx7{width:58.33333333%}.rcx6{width:50%}.rcx5{width:41.66666667%}.rcx4{width:33.33333333%}.rcx3{width:25%}.rcx2{width:16.66666667%}.rcx1{width:8.33333333%}.rox11{margin-left:91.66666667%}.rox10{margin-left:83.33333333%}.rox9{margin-left:75%}.rox8{margin-left:66.66666667%}.rox7{margin-left:58.33333333%}.rox6{margin-left:50%}.rox5{margin-left:41.66666667%}.rox4{margin-left:33.33333333%}.rox3{margin-left:25%}.rox2{margin-left:16.66666667%}.rox1{margin-left:8.33333333%}.rox0{margin-left:0}.rtxl{text-align:left}.rtxr{text-align:right}.rtxc{text-align:center}.rtxj{text-align:justify}.rpxn{padding-top:0;padding-bottom:0}.rpxs{padding-top:20px;padding-bottom:20px}.rpxm{padding-top:40px;padding-bottom:40px}.rpxl{padding-top:60px;padding-bottom:60px}.rmxn{margin-bottom:0}.rmxs{margin-bottom:20px}.rmxm{margin-bottom:40px}.rmxl{margin-bottom:60px}.cf:after,.cf:before,.rf:after,.rf:before,.rr:after,.rr:before,.rw:after,.rw:before{content:" ";display:table}.cf:after,.rf:after,.rr:after,.rw:after{clear:both}
/* Typeography */
body{font-family:Lato, sans-serif;line-height:1.4;font-size:16px}
h1, .h1{font-family:Lato, sans-serif;font-size:32px;line-height:1.25;font-weight:normal}
h2, .h2{font-family:Lato, sans-serif;font-size:26px;line-height:1.15;font-weight:normal}
h3, .h3{font-family:Lato, sans-serif;font-size:22px;line-height:1.14;font-weight:normal}
h4, .h4{font-family:Lato, sans-serif;font-size:18px;line-height:1.11;font-weight:normal}
/* Buttons */
.bd{text-align:center;display:inline-block;padding:10px 20px;color:#555;border:solid 2px #555;text-decoration:none;}
.bd:hover, .bd:focus{background-color:#555;color:#fff}
.bp{text-align:center;display:inline-block;padding:10px 20px;background-color:#555;color:#fff;border:solid 2px #555;text-decoration:none;}
.bp:hover, .bp:focus{background-color:#fff;color:#555}
.bf{display:block;width:100%}

/* Navigation */
#nav{background-color:#fff;width:100%}
.no,.nc{font-weight:bold;color:#660080;font-size:36px; display:inline-block;position:absolute;top:15px;right:20px;cursor:pointer}
.ni{display:none}
.ns{margin:70px 40px 0 40px;padding:0;font-size:22px}
.nt{margin:0 0 0 20px;padding:0}
.ns > li, .nt > li{list-style:none;margin-left:0}
.ns a{text-decoration:none;color:#555}
.nl{padding:20px;display:inline-block}
.nl amp-img{margin-bottom:0}

/* Navigation Breakpoint */
@media all and (min-width: 900px){
  .ni{display:inline-block;float:right;}
  .ni a{display:inline-block;padding:25px;line-height:40px;font-size:18px;text-decoration:none;color:#555;}
  .ni a:hover, .ni a:focus {color:#999;}
  .nd{display:none;}
  .no{display:none;}
}

/* Extra small screens only */
@media (max-width:599px){.hx{display:none}

}

/* Small screens only */
@media (min-width:600px) and (max-width:898px){.hs{display:none}

}

/* Small screens plus */
@media all and (min-width: 600px){.rw{width:560px}.rcs12{width:100%}.rcs11{width:91.66666667%}.rcs10{width:83.33333333%}.rcs9{width:75%}.rcs8{width:66.66666667%}.rcs7{width:58.33333333%}.rcs6{width:50%}.rcs5{width:41.66666667%}.rcs4{width:33.33333333%}.rcs3{width:25%}.rcs2{width:16.66666667%}.rcs1{width:8.33333333%}.ros11{margin-left:91.66666667%}.ros10{margin-left:83.33333333%}.ros9{margin-left:75%}.ros8{margin-left:66.66666667%}.ros7{margin-left:58.33333333%}.ros6{margin-left:50%}.ros5{margin-left:41.66666667%}.ros4{margin-left:33.33333333%}.ros3{margin-left:25%}.ros2{margin-left:16.66666667%}.ros1{margin-left:8.33333333%}.ros0{margin-left:0}.rtsl{text-align:left}.rtsr{text-align:right}.rtsc{text-align:center}.rtsj{text-align:justify}.rpsn{padding-top:0;padding-bottom:0}.rpss{padding-top:20px;padding-bottom:20px}.rpsm{padding-top:40px;padding-bottom:40px}.rpsl{padding-top:60px;padding-bottom:60px}.rmsn{margin-bottom:0}.rmss{margin-bottom:20px}.rmsm{margin-bottom:40px}.rmsl{margin-bottom:60px}
  body{line-height:1.6;font-size:16px}
  h1, .h1{font-size:40px;line-height:1.125}
  h2, .h2{font-size:32px;line-height:1.25}
  h3, .h3{font-size:24px;line-height:1.25}
  h4, .h4{font-size:18px;line-height:1.22}

}

/* Medium screens only */
@media (min-width:900px) and (max-width:1199px){.hm{display:none}

}

/* Medium screens plus*/
@media all and (min-width: 900px){.rw{width:860px}.rcm12{width:100%}.rcm11{width:91.66666667%}.rcm10{width:83.33333333%}.rcm9{width:75%}.rcm8{width:66.66666667%}.rcm7{width:58.33333333%}.rcm6{width:50%}.rcm5{width:41.66666667%}.rcm4{width:33.33333333%}.rcm3{width:25%}.rcm2{width:16.66666667%}.rcm1{width:8.33333333%}.rom11{margin-left:91.66666667%}.rom10{margin-left:83.33333333%}.rom9{margin-left:75%}.rom8{margin-left:66.66666667%}.rom7{margin-left:58.33333333%}.rom6{margin-left:50%}.rom5{margin-left:41.66666667%}.rom4{margin-left:33.33333333%}.rom3{margin-left:25%}.rom2{margin-left:16.66666667%}.rom1{margin-left:8.33333333%}.rom0{margin-left:0}.rtml{text-align:left}.rtmr{text-align:right}.rtmc{text-align:center}.rtmj{text-align:justify}.rpmn{padding-top:0;padding-bottom:0}.rpms{padding-top:20px;padding-bottom:20px}.rpmm{padding-top:40px;padding-bottom:40px}.rpml{padding-top:60px;padding-bottom:60px}.rmmn{margin-bottom:0}.rmms{margin-bottom:20px}.rmmm{margin-bottom:40px}.rmml{margin-bottom:60px}
  h1, .h1{font-size:48px;line-height:1.05}
  h2, .h2{font-size:36px;line-height:1.25}
  h3, .h3{font-size:28px;line-height:1.25}
}

/* Large screens only */
@media all and (min-width: 1200px){.hl{display:none}.rw{width:1160px}.rcl12{width:100%}.rcl11{width:91.66666667%}.rcl10{width:83.33333333%}.rcl9{width:75%}.rcl8{width:66.66666667%}.rcl7{width:58.33333333%}.rcl6{width:50%}.rcl5{width:41.66666667%}.rcl4{width:33.33333333%}.rcl3{width:25%}.rcl2{width:16.66666667%}.rcl1{width:8.33333333%}.rol11{margin-left:91.66666667%}.rol10{margin-left:83.33333333%}.rol9{margin-left:75%}.rol8{margin-left:66.66666667%}.rol7{margin-left:58.33333333%}.rol6{margin-left:50%}.rol5{margin-left:41.66666667%}.rol4{margin-left:33.33333333%}.rol3{margin-left:25%}.rol2{margin-left:16.66666667%}.rol1{margin-left:8.33333333%}.rol0{margin-left:0}.rtll{text-align:left}.rtlr{text-align:right}.rtlc{text-align:center}.rtlj{text-align:justify}.rpln{padding-top:0;padding-bottom:0}.rpls{padding-top:20px;padding-bottom:20px}.rplm{padding-top:40px;padding-bottom:40px}.rpll{padding-top:60px;padding-bottom:60px}.rmln{margin-bottom:0}.rmls{margin-bottom:20px}.rmlm{margin-bottom:40px}.rmll{margin-bottom:60px}

}