@import 'mixins';

.charities-main {
  flex-grow: 1;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.charities-body {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
