@import "main/sidebar";
@import 'mixins';
@import 'variables';

#contact-form {
  width: 300px;
  height: 500px;
  @include desktop {
    width: 630px;
    height: 500px;
  }
}

.contact-form-wrapper {
  display: flex;
  justify-content: flex-start;
}

.contact-textfield {
  color: $t13-dark-gray;
}

.contact-textfield > input {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact-h1  {
  color: $t13-dark-gray;
  display: flex;
}

.contact-h1 > h1 {
  border-bottom: 2px solid #ccc;
}


.contact-textfield > textarea {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.contact-submit {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
}

.contact-submit > input {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: none;
  border-width: 1px;
  border-color: #2c548e;
}

.contact-submit > input:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}
