@import 'mixins';
@import 'main/sidebar';

.buttons {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #2c548e;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;

  @include desktop {
    font-weight: 700;
    font-size: 16px;
  }
}

.buttons-white {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  color: #2c548e;
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #2c548e;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;

  @include desktop {
    font-weight: 700;
    font-size: 16px;
  }
}

.buttons-white:hover {
  background-color: #2c548e;
  color: #fff;
  transition: all .3s ease-in;
}

.buttons:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}

.text {
  color: white;
  font-size: 13px;
  text-align: center;

  @include desktop {
    font-size: 16px;
  }
}