@import 'mixins';
@import "variables";
@import 'main/sidebar';
@import '1bx';

.lp-c {
  text-align: center;
}

.lp-ul {
  line-height: 1.0;
  display: inline-flex;
  padding-right: 1em;
}

.lp-mi {
  color: #05CAB6;
}

.lp-16bx {
  padding-bottom: 21px;
}

.lp-no {
  color: #05CAB6;
}

.lp-bld {
  font-weight: bold;
}

.lp-bkb1 {
  background-color: #ffd6d6;
  padding: 71px;
}

.lp-bkb2 {
  background-color: #d7fff6;
  padding: 71px;
}

.lp-h21 {
  padding-bottom: 12px;
}

.lp-bkbl {
  background-color: #A3C4D9;
  padding-bottom: 51px;
  padding-top: 35px;
}

.lp-pth {
  padding-top: 21px;
}

.lp-bk72 {
  background-color: #cbcbcb;
}








#contact-form {
  width: 300px;
  height: 500px;
  @include desktop {
    width: 630px;
    height: 500px;
  }
}

.contact-form-wrapper {
  display: flex;
  justify-content: flex-start;
}

.contact-textfield {
  color: $t13-dark-gray;
}

.contact-textfield > input {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact-h1  {
  color: $t13-dark-gray;
  display: flex;
}

.contact-h1 > h1 {
  border-bottom: 2px solid #ccc;
}


.contact-textfield > textarea {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.contact-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.contact-submit > input {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: none;
  border-width: 1px;
  border-color: #2c548e;
}

.contact-submit > input:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}
