@import 'mixins';
@import "variables";
@import 'main/sidebar';
@import '1bx';

.mcm-lkjhgf {
  background-color: #05CAB6;
  background-image: linear-gradient(#05CAB6, #91FCE9);
  padding: 21px 0px 21px 0px;
  text-align: center;
  color: #FFF;
}
