@import 'mixins';
@import "variables";
@import 'main/sidebar';
@import '1bx';

.mcm-lkjhgf {
  background-color: #05CAB6;
  background-image: linear-gradient(#05CAB6, #91FCE9);
  padding: 21px 0px 21px 0px;
  text-align: center;
  color: #FFF;
}

.mcm-treghj {
  max-width: 700px;
  max-height: 490px;
}




.mkt-audit {
  background-color: #0489DB;
  text-align: center;
  padding: 65px 31px 80px 31px;
}
.mkt-text-bold {
  font-weight: bold;
}
.mkt-wh {
  color: #FFF;
}
.mkt-p-audit-001 {
  color: #FFF;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1.6;
}
.mkt-4box-icon-challenges {
  text-align: right;
}
.mkt-button-audit {
  background-color: #faf954;
  border-color: #faf954;
  color: #1C1C1C;
  padding: 12px;
}




.lightbox {
  background: rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 41px;
}
.lightbox h1 {
  color: white;
}


.mkt-bord-form {
  background-color: #FFF;
  padding: 41px;
  border-radius: 12px;
}

.mkt-lh {
  line-height: 0.7;
}

.mkt-submit-form {
  padding: 21px;
}

.mkt-sub-form {
  padding: 2px 12px 2px 12px;
  background-color: #2c548e;
  border-radius: 12px;
  color: #FFF;
}


#contact-form {
  width: 300px;
  height: 500px;
  @include desktop {
    width: 630px;
    height: 500px;
  }
}

.contact-form-wrapper-b {
  display: flex;
  justify-content: flex-start;
}

.contact-textfield-b {
  color: $t13-dark-gray;
}

.contact-textfield-b > input {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
}

.contact-h1-b  {
  color: $t13-dark-gray;
  display: flex;
}

.contact-h1-b > h1 {
  border-bottom: 2px solid #ccc;
}

.contact-textfield-b > textarea {
  width: 100%;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  resize: none;
}

.contact-submit-b {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  vertical-align: bottom;
  align-items: center;
}

.contact-submit-b > input {
  padding: .8rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background-color: #2c548e;
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: none;
  border-width: 1px;
  border-color: #2c548e;
  margin:auto;
}

.contact-submit-b > input:hover {
  background-color: #fff;
  color: #2c548e;
  transition: all .3s ease-in;
}
