@import 'mixins';
@import 'variables';
@import 'main/sidebar';

.test-page-header {
  display: flex;
  justify-content: flex-start;
}

.test-page-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.test-page-image-text-container {
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}

.test-page-item-container {
  display: flex;
  flex-direction: column;
}

.test-page-image {
  width: 100%;
  -webkit-box-ordinal-group: -1000000;
  -webkit-order: -999999;
  -ms-flex-order: -999999;
  order: -999999;

  @include desktop {
    width: 50%;

    -webkit-box-ordinal-group: 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
  }
}

.test-page-item-container-next-to-image {
  width: 100%;
  display: flex;
  flex-direction: column;

  @include desktop {
    width: 50%;
  }
}

.test-page-item-question {
  display: flex;
  border-left: 5px solid $t13-color;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.test-page-item-question-q {
  margin-right: 1rem;
  font-size: 20px;
  color: $t13-color;

  @include desktop {
    font-size: 50px;
  }
}

.test-page-item-question-a {
  margin-right: 1rem;
  font-size: 20px;
  color: $t13-gray;

  @include desktop {
    font-size: 50px;
  }
}

.test-page-item-answer {
  padding-left: 1rem;
  display: flex;
  border-left: 5px solid $t13-gray;
}

.test-page-horizontal-line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 90%;
  height: 2px;
  text-align: center;
  color: $t13-gray;
  background-color: $t13-gray;
  opacity: 0.3;
}

div.test-page-item-container > div > div > p {
  margin: 0;

  @include desktop {
    margin: 1rem 0;
  }
}

.test-page-learn-more {
  color: $t13-color;
}

.test-page-cover-banner {

}

.test-page-adunit {
  text-align: center;
}


