<amp-lightbox id="amp-monetisation" layout="nodisplay" scrollable class="lightbox">
    <main class="flex flex-column col-12 items-center">
        <section class="lg-m2 max-width-4 col-12">
            <div class="flex justify-end">
                <div class="close-outer">
                    <div tabindex="0" role='button' on="tap:amp-monetisation.close" class="close-inner">
                        <label class="close-label">Back</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="m2 max-width-4">
            <div class="flex flex-wrap justify-center">
                <div class="lg-col-6 sm-col-12">
                    <h1 class="line-height-4 heads dark-gray lg-h2 sm-h3">
                        Trusted partner in AMP monetisation
                    </h1>
                    <p class="line-height-3 desc light-gray">
                        Many people don't realise that your ad inventory is not built into the AMP architecture. There’s
                        a fair bit of work required to optimise the system to the right type of content.
                    </p>

                    <p class="line-height-3 desc light-gray">
                        We specialise in AMP monetisation and it’s what we are really passionate about.
                        If you’re publishing in AMP then it's essential that you’re optimised to deliver the best
                        possible return on your inventory.
                    </p>

                    <p class="line-height-3 desc light-gray">
                        We have a proven track record of helping publishers to manage their ad inventory and maximise
                        advertising revenue. Our focus on AMP has resulted in developing exceptional knowledge of this
                        format. By partnering with Google, IAB and Prebid it allows us to make the most of this
                        knowledge by connecting with some of the highest ranked exchanges around the world resulting in
                        high viewability rates and easy management of multiple SSP’s
                    </p>
                </div>
                <div class="lg-col-6 sm-col-12 lightbox-img self-center">
                    <amp-img
                            src="./img/page/amp_monetisation.svg"
                            height="500"
                            width="700"
                            layout="responsive"
                            alt="mobile chat"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
            </div>
        </section>
<!--        <div style="background-color: #2c548e; height: 15rem; margin: 3rem; color: white; display: flex; justify-content: center; align-items: center; font-size: 2rem" class="col-12">-->
<!--        </div>-->
        <section class="m2 max-width-4">
            <div class="flex flex-wrap">
                <div class="lg-col-12 sm-col-12">

                        <p class="line-height-3 desc light-gray">
                            By working with you to identify and understand your audience demand, we’re able to programme
                            your content onto the right channel at the optimum price at the right time. Implementing
                            dynamic floor pricing, high viewability and using high impact formats to drive high yielding
                            results across all your sites. Using powerful tracking and monitoring tools, we ensure that
                            your users see your ads wherever they are consuming.
                        </p>

                </div>
                <div class="lg-col-12 sm-col-12">


                        <p class="line-height-3 desc light-gray">
                            We have AMP optimised server-side bidding enabled to deliver higher yields for publishers,
                            with high quality ad units in front of consumers, from advertisers wanting to pay higher
                            rates. Your highest bids get filled first, allowing you to get the highest CPM rates
                            possible.
                        </p>

                </div>
                <div class="lg-col-12 sm-col-12">


                        <p class="line-height-3 desc light-gray">
                            We have partnerships with the top AMP specific SSP such as Google and Amazon, Magnite
                            (formally Rubicon Project), OpenX, Xandr, Pubmatic. We have also partnered with Sourcepoint
                            to offer CMP for all our publishers helping them to comply with privacy regulations and
                            enable consented personalized experiences.
                        </p>

                </div>
                <div class="lg-col-12 sm-col-12">

                        <p class="line-height-3 desc light-gray">
                            The missing piece of the puzzle for a lot of publishers is transparent and powerful
                            reporting that is simple and easy to understand. We’ve developed comprehensive reporting to
                            deliver fast and easy to access information when you need it the most.

                        </p>


                </div>

                <div class="lg-col-12 sm-col-12">


                        <p class="line-height-3 desc light-gray">
                            You’re already busy managing your business, adding one more thing to do just seems that
                            little bit too much at times. That’s why we believe in removing as much friction as possible
                            whether its communications, reporting and payments. We have automated payments for all our
                            publishers saving you from email ping pong and adding another to do item at the end of every
                            month.

                        </p>


                </div>

                <div class="lg-col-12 sm-col-12">


                        <p class="line-height-3 desc light-gray">
                            Friction can also be created in code whether you're aware of it or not, that’s where our
                            technical support team comes in to play. We have a wealth of experience in developing
                            in-house custom AMP tech and troubleshooting. So, whatever questions or problems you have we
                            are here to help every step of the way.
                        </p>

                </div>
<!--                <div class="lg-col-12 sm-col-12">-->

<!--                    <button class="mt3 buttons" on="tap:amp-monetisation.close, contact.open">Contact Us</button>-->
<!--                </div>-->
            </div>

        </section>
    </main>
    %%include('./footer.html')
</amp-lightbox>
