<amp-lightbox id="amp-monetisation" layout="nodisplay" scrollable class="lightbox">
    <section class="flex justify-center col-12">
        <div class="m2 max-width-4">
            <div class="flex justify-end">
                <div class="close-outer">
                    <div tabindex="0" role='button' on="tap:amp-monetisation.close" class="close-inner">
                        <label class="close-label">Back</label>
                    </div>
                </div>
            </div>
            <div class="flex flex-wrap justify-center">
                <div class="lg-col-6 sm-col-12">
                    <h1 class="line-height-4 heads dark-gray lg-h2 sm-h3">
                        Trusted partner in AMP monetisation
                    </h1>
                    <p class="line-height-3 desc light-gray">
                        Accelerated Mobile Pages is an open-source web framework and
                        publishing platform developed by Google in 2015. It helps you to build a simplified version of
                        your
                        web pages, providing super quick loading times and increased user experience as a result. At its
                        heart, AMP stands for a stripped-down version of HTML built to be incredibly lightweight and
                        simple
                        to use.
                    </p>

                    <p class="line-height-3 desc light-gray">
                        Simply put, this implies that advertisers can run ads that load
                        quicker and boost engagement by providing improved user functionality while maintaining key
                        monetisation capabilities.
                    </p>
                </div>
                <div class="lg-col-6 sm-col-12 lightbox-img self-center">
                    <amp-img
                            src="./img/page/amp_monetisation.svg"
                            height="500"
                            width="700"
                            layout="responsive"
                            alt="mobile chat"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="col-12 flex justify-center">
                    <h2 class="heads dark-gray lg-m1 sm-m0">Advantages of using AMP</h2>
                </div>
                <div class="lg-col-3 sm-col-12">
                    <div class="lg-p1">
                        <h4 class="line-height-4 heads dark-gray">User Experience</h4>
                        <p class="line-height-3 desc light-gray">
                            Speed means better loading times and as a result better user
                            experience. It impacts how long visitors spend on your site meaning the more time they spend
                            engaging with your content. This is a key factor for long term success of your site and
                            increased ad
                            revenue from your properties.
                        </p>
                    </div>

                </div>
                <div class="lg-col-3 sm-col-12">
                    <div class="lg-p1">
                        <h4 class="line-height-4 heads dark-gray">Ease of use</h4>
                        <p class="line-height-3 desc light-gray">
                            With mobile usage on the rise and outstripping users on desktops means we have to do more
                            with
                            limitations of bandwidth. This is where AMP really shines but also how easy it is to
                            implement.
                        </p>
                    </div>
                </div>
                <div class="lg-col-3 sm-col-12">
                    <div class="lg-p1">
                        <h4 class="line-height-4 heads dark-gray">Open source</h4>
                        <p class="line-height-3 desc light-gray">
                            Being open source means there is a wealth of resources available between publishers,
                            developers
                            and
                            tech companies. There is a whole community that supports the advancement of AMP that
                            includes
                            publishers, platforms, advertisers, creators and users alike.
                        </p>
                    </div>
                </div>
                <div class="lg-col-3 sm-col-12">
                    <div class="lg-p1">
                        <h4 class="line-height-4 heads dark-gray">SEO benefits</h4>
                        <p class="line-height-3 desc light-gray">
                            It’s common knowledge that faster loading pages is a factor that Google considers when it
                            looks
                            to
                            rank your pages in it’s search results. Also it’s worth noting that since AMP is a Google
                            product
                            there will naturally be a bias towards its value in comparison to other non amp sites which
                            could
                            lead to better rankings.
                        </p>
                    </div>

                    <button class="mt3 buttons" on="tap:amp-monetisation.close, contact.open">Contact Us</button>
                </div>

            </div>
        </div>
        </div>

    </section>
    %%include('./footer.html')
</amp-lightbox>
