<amp-consent id="quantcast" layout="nodisplay">
    <script type="application/json">
        {
            "consentInstanceId": "quantcast",
            "checkConsentHref": "https://apis.quantcast.mgr.consensu.org/amp/check-consent",
            "consentRequired": "remote",
            "promptUISrc": "https://quantcast.mgr.consensu.org/tcfv2/amp.html",
            "clientConfig": {
                "coreUiLabels": {},
                "theme": {},
                "coreConfig": {
                    "quantcastAccountId": "SbtDyS4yjPaRj",
                    "privacyMode": [
                        "GDPR"
                    ],
                    "hashCode": "YrVLPdQa1s1wNWmUEf+/jA",
                    "publisherCountryCode": "GB",
                    "publisherName": "Triple13",
                    "vendorPurposeIds": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                    ],
                    "vendorFeaturesIds": [
                        1,
                        2,
                        3
                    ],
                    "vendorPurposeLegitimateInterestIds": [
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                    ],
                    "vendorSpecialFeaturesIds": [
                        1,
                        2
                    ],
                    "vendorSpecialPurposesIds": [
                        1,
                        2
                    ],
                    "googleEnabled": true,
                    "lang_": "en",
                    "displayUi": "always",
                    "publisherConsentRestrictionIds": [],
                    "publisherLIRestrictionIds": [],
                    "publisherPurposeIds": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                    ],
                    "publisherPurposeLegitimateInterestIds": [],
                    "publisherSpecialPurposesIds": [],
                    "publisherFeaturesIds": [],
                    "publisherSpecialFeaturesIds": [],
                    "stacks": [
                        1,
                        42
                    ],
                    "vendorListUpdateFreq": 30
                }
            }
        }
    </script>

</amp-consent>
