<amp-consent id='consent' layout='nodisplay' >
    <script type="application/json">
        {
            "consentRequired": "remote",
            "consentInstanceId": "SourcePoint",
            "checkConsentHref": "https://cdn.privacy-mgmt.com/wrapper/tcfv2/v1/amp",
            "promptUISrc": "https://t13cmp.triple13.io?authId=CLIENT_ID",
            "postPromptUI": "consent-ui",
            "clientConfig": {
                "accountId": 1638,
                "mmsDomain": "https://t13cmp.triple13.io",
                "propertyHref": "https://amp.triple13.io",
                "propertyId": 15171,
                "privacyManagerId": 426503,
                "isTCFV2": true,
                "pmTab": "purposes",
                "stageCampaign": false,
                "targetingParams": {
                    "color": "red"
                }
            }
        }
    </script><div id="consent-ui">
    <button on="tap:consent.prompt(consent=SourcePoint)">Privacy Settings</button>
</div>
</amp-consent>
