<amp-lightbox id="contact" layout="nodisplay" scrollable animate-in="fly-in-top" class="lightbox">
    <main class="flex flex-column col-12 items-center">
        <section class="lg-m2 max-width-4 col-12">
            <div class="flex justify-end">
                <div class="close-outer">
                    <div tabindex="0" role='button' on="tap:contact.close" class="close-inner">
                        <label class="close-label">Back</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="m2 max-width-4">
            <div class="flex flex-wrap justify-center">
                <div class="lg-col-6 sm-col-12">
                    <amp-img
                            src="./img/page/contact_us.svg"
                            height="500"
                            width="700"
                            layout="responsive"
                            alt="mobile chat"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="lg-col-6 sm-col-12">
                    <h1 class="heads dark-gray">Get in touch</h1>
                    <p class="heads dark-gray">Triple13 Ltd</p>
                    <p class="desc dark-gray"><span class="heads">Email:</span> <a href="mailto:hello@triple13.io">hello@triple13.io</a> </p>
                    <p class="desc dark-gray"><span class="heads">Address:</span> Scott House, Suite 1, The Concourse, Waterloo Station, London, SE1 7LY UK</p>
                    <p class="desc dark-gray"><span class="heads">Company No:</span> 11685279</p>
                    <p class="desc dark-gray"><span class="heads">D.U.N.S No:</span> 224527417</p>
                </div>
            </div>
        </section>
    </main>
    <footer class="border-top flex justify-center ampfooter">
        <div class="max-width-4 flex col-12 ampfooter-first-div">
            <div class="flex-column lg-col-5 self-center sm-col-12">
                <div class="ampfooter-copyright-text"><span>&copy; 2020&nbsp;</span><span
                        class="ampfooter-span">Triple13</span></div>
                <div class="ampfooter-copyright-text"><span>All Rights Reserved</span></div>
            </div>
        </div>
    </footer>
</amp-lightbox>
