<footer class="border-top flex justify-center ampfooter">
    <div class="max-width-4 flex col-12 ampfooter-first-div">
        <div class="flex-column lg-col-5 self-center sm-col-12">
            <div class="ampfooter-copyright-text"><span>&copy; 2020&nbsp;</span><span
                    class="ampfooter-span">Triple13</span></div>
            <div class="ampfooter-copyright-text"><span>All Rights Reserved</span></div>
        </div>
        <div class="lg-col-5 sm-col-12 flex flex-wrap self-center ampfooter-links">
            <div class="lg-col-6 sm-col-12 mt1 mb1 ampfooter-link">
                <a href="careers.html" class="text-decoration-none ampfooter-anchor">Career</a>
            </div>
            <div class="lg-col-6 sm-col-12 mt1 mb1 ampfooter-link">
                <a href="privacy-policy.html" class="text-decoration-none ampfooter-anchor">Privacy policy</a>
            </div>
            <div class="lg-col-6 sm-col-12 mt1 mb1 ampfooter-link">
                <a href="terms-and-conditions.html" class="text-decoration-none ampfooter-anchor">Terms and Conditions</a>
            </div>
        </div>
        <div class="lg-col-2 sm-col-12 self-center">
            %%include('../partials/social.html')
        </div>
    </div>
</footer>