<main class="flex flex-column col-12 items-center">
    <section class="mb4 max-width-2" style="width: 100%">
        <div class="flex flex-wrap justify-center">
            <div class="col-8 self-center">
                <amp-img
                        src="./img/we-moved.png"
                        height="700"
                        width="700"
                        layout="responsive"
                        alt="Fast, Efficient & Seamless Auctions At Scale"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
        </div>
    </section>
    <section class="max-width-4 mb4">
        <div class="flex flex-wrap justify-center">
            <div class="lg-col-12 sm-col-12">
                <p class="line-height-4 m0 text" style="color: black">
                    To learn more about our AMP monetization solution, head over to Freestar.
                </p>
                <div class="flex justify-center">
                    <div class="flex m2">
                        <a href="https://freestar.com/solutions/amp/" class="buttons" target="_blank">Learn More</a>
                    </div>
                    <div class="flex m2">
                        <a href="https://freestar.com/get-started/" class="buttons-white" target="_blank">Get Started</a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>