<div class="sm-mt4 md-mt0">
    <section class="landing-page-section-white">
        <div class="lg-flex justify-around items-center max-width-4">
            <div class="lg-col-8 sm-col-12 landing-page-image">
                <amp-img
                        src="./img/page/hero_image.svg"
                        height="500"
                        width="700"
                        layout="responsive"
                        alt="teamwork"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
            <div class="lg-col-4">
                <h1 class="line-height-4 heads dark-gray">
                    AMP monetisation Specialists
                </h1>
                <h3 class="line-height-4 heads dark-gray">
                    Need people that do everything AMP?
                </h3>
                <p class="line-height-3 desc light-gray">
                    In a fast-moving, ever-changing market, we will help you develop a more efficient AMP pages business
                    by providing you with the support you need to maximize the monetisation potential of your
                    properties.
                </p>
                <button class="mt3 buttons" on="tap:amp-monetisation">Learn More</button>
            </div>
        </div>
    </section>
    <section class="landing-page-section-color flex items-center">
        <div class="flex flex-column center mx-auto col-8">
            <h2 class="heads h1">About Triple 13</h2>
            <p class="desc">
                The story is pretty simple. We are a group of like minded, tech focused, always learning and animal
                loving people, that love solving problems.

                One of the main challenges facing the market is how complex, costly and inconsistent the programmatic
                landscape is for AMP.

                We believe that programmatic ads should be easy to use, open and straightforward. Our mission is to make
                things as easy and high-performing as possible for our clients.
            </p>
        </div>
    </section>
    <section class="landing-page-section-white">
        <div class="flex center max-width-4 col-12 affiliations">
            <div class="sm-col-12 affiliations-image">
                <amp-img
                        src="./img/partnerships/ad-manager-logo.svg"
                        height="100"
                        width="100"
                        alt="prebid-logo"
                        layout="responsive"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
            <div class="sm-col-12 affiliations-image">
                <amp-img
                        src="./img/partnerships/prebid-logo.svg"
                        height="100"
                        width="100"
                        alt="prebid-logo"
                        layout="responsive"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
            <div class="sm-col-12 affiliations-image">
                <amp-img
                        src="./img/partnerships/amp-logo.svg"
                        height="100"
                        width="100"
                        alt="amp-logo"
                        layout="responsive"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
            <div class="sm-col-12 affiliations-image">
                <amp-img
                        src="./img/partnerships/ico-logo.svg"
                        height="100"
                        width="100"
                        alt="ico-logo"
                        layout="responsive"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
            <div class="sm-col-12 affiliations-image">
                <amp-img
                        src="./img/partnerships/sourcepoint-logo.svg"
                        height="100"
                        width="100"
                        alt="ico-logo"
                        layout="responsive"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
        </div>
    </section>
    <section class="landing-page-section-white">
        <div class="md-flex justify-around items-center max-width-4">
            <div>
                <p class="desc light-gray">
                    "We’re here to make your life easy. To ensure each project runs as smoothly
                    and efficiently as
                    possible,
                    our team is completely adaptable to work in the way that’s best for you.
                    Just tell us what approach you’d like to take and consider it done"
                </p>
                <p class="heads dark-gray">Matthew Whaley</p>
                <p class="heads dark-gray">Founder</p>
            </div>
            <div>
                <amp-img
                        src="./img/mw.jpeg"
                        height="200"
                        width="200"
                        layout="fixed"
                        alt="mw"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </div>
        </div>
    </section>
    <section class="landing-page-section-color flex items-center justify-center">
        <div class="flex col-12 max-width-4">
            <div class="lg-col-3 flex flex-column items-center border-right">
                <h1 class="center align-middle heads caps">7b +</h1>
                <h3 class="center align-middle heads caps">Ad request processed</h3>
            </div>
            <div class="lg-col-3 flex flex-column items-center border-right">
                <h1 class="center align-middle heads caps">100 +</h1>
                <h3 class="center align-middle heads caps">Publishers</h3>
            </div>
            <div class="lg-col-3 flex flex-column items-center border-right">
                <h1 class="center align-middle heads caps">1m + </h1>
                <h3 class="center align-middle heads caps">Unique floors prices set</h3>
            </div>
            <div class="lg-col-3 flex flex-column items-center">
                <h1 class="center align-middle heads caps">100b +</h1>
                <h3 class="center align-middle heads caps">Data points analysed</h3>
            </div>

        </div>
    </section>
    <section class="landing-page-section-white">
        <div class="flex flex-column center max-width-4 col-12">
            <h2 class="heads t13-blue lg-h2 sm-h4">SOME OF OUR PARTNERS</h2>
            <div class="flex flex-wrap partnerships" style="height: 300px">
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/xandr-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="xandr-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/partnerships/google-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="criteo-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/rubicon-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="rubicon-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/districtm-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="rubicon-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/pubmatic-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="pubmatic-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/baidu-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="criteo-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>

                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/conversant-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="amazon-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/amazon-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="openx-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/openx-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="conversant-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/openx-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="conversant-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/openx-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="conversant-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="sm-col-6 lg-col-3 flex justify-center">
                    <amp-img
                            src="./img/demand/adform-logo.svg"
                            height="100"
                            width="100"
                            layout="responsive"
                            class="affiliations-image"
                            alt="conversant-logo"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
            </div>
        </div>
    </section>
</div>
