<header class="ampstart-headerbar">
    <div class="flex justify-center">
        <div class="flex justify-between max-width-4 ampstart-headerbar-body sm-px2 lg-p0">
            <a class="sm-pl2 lg-p0" href="index.html">
                <amp-img
                        src="./img/Logo.svg"
                        width="100"
                        height="52"
                        layout="fixed"
                        alt="Company logo"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </a>
            <nav class="flex heads sm-hide xs-hide items-center">
                <div class="dropdown">
                    <button class="dropbtn">Services
                        <svg width="10" height="5" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
                            <path d="M0,0 l35,50 l35,-50" fill="none" stroke="black" stroke-linecap="round"
                                  stroke-width="5"/>
                        </svg>
                    </button>
                    <div class="dropdown-content">

                        <a on="tap:amp-monetisation">AMP Monetisation</a>
                        <div>
                            <a on="#">Technology</a>
                            <ul>
                                <li>
                                    <a on="tap:prebid-server">
                                        Prebid Server
                                    </a>
                                </li>
                                <li>
                                    <a on="tap:bidder">
                                        Bidder
                                    </a>
                                </li>
                                <li>
                                    <a on="tap:floors">
                                        Floors
                                    </a>
                                </li>
                                <li>
                                    <a on="tap:leya">
                                        leya
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a on="tap:software-engineering">Software Engineering</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Resources
                        <svg width="10" height="5" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
                            <path d="M0,0 l35,50 l35,-50" fill="none" stroke="black" stroke-linecap="round"
                                  stroke-width="5"/>
                        </svg>
                    </button>
                    <div class="dropdown-content">
                        <a href="https://triple13.slite.com/api/s/channel/AbLTMzLU7fQ3xKNpEKhsRK/Triple13%3A%20Documentation" target="_blank">Documentation</a>
                        <a href="https://github.com/triple13" target="_blank">Github</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">About
                        <svg width="10" height="5" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
                            <path d="M0,0 l35,50 l35,-50" fill="none" stroke="black" stroke-linecap="round"
                                  stroke-width="5"/>
                        </svg>
                    </button>
                    <div class="dropdown-content">
                        <a href="faq.html">FAQ</a>
                        <a href="careers.html">Careers</a>
                        <a href="charities.html">Charities</a>
                    </div>
                </div>
                <div>
                    <button on="tap:contact" class="buttons">Contact Us</button>
                </div>
            </nav>
        </div>

        <div class="header-mobile md-hide lg-hide">
            <div class="center m0 p0 flex justify-center nowrap absolute top-0 right-0 pt2 pr3">
                <div
                        role="button"
                        aria-label="open sidebar"
                        on="tap:header-sidebar.toggle"
                        tabindex="0"
                        class="ampstart-navbar-trigger pr2 absolute top-0 pr0 mr2 mt2"
                >
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            class="block"
                    >
                        <path fill="none" d="M0 0h24v24H0z"></path>
                        <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</header>
