<header class="ampstart-headerbar">
    <div class="flex justify-center">
        <div class="flex justify-between max-width-4 ampstart-headerbar-body sm-px2 lg-p0">
            <a class="sm-pl2 lg-p0" href="index.html">
                <amp-img
                        src="./img/fs-t13-logo.png"
                        width="170"
                        height="72"
                        layout="fixed"
                        alt="Company logo"
                        noloading=""
                >
                    <div placeholder="" class="commerce-loader"></div>
                </amp-img>
            </a>
            <nav class="flex heads items-center">
                <div>
                    <a href="https://freestar.com/get-started/" class="buttons" target="_blank">Get Started</a>
                </div>
            </nav>
        </div>
    </div>
</header>
