<div class="col-12 flex justify-around flex-wrap">
    <amp-img
            src="./img/magnite.png"
            alt="magnite"
            noloading=""
            class="partners-img sm-col-6"
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/pubmatic.png"
            class="partners-img sm-col-6"
            alt="pubmatic"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
    <amp-img
            src="./img/xandar.png"
            class="partners-img sm-col-6"
            alt="xandar"
            noloading=""
    >
        <div placeholder=""></div>
    </amp-img>
</div>
