<amp-lightbox id="prebid-server" layout="nodisplay" scrollable class="lightbox">
    <main class="flex flex-column col-12 items-center">
        <section class="lg-m2 max-width-4 col-12">
            <div class="flex justify-end">
                <div class="close-outer">
                    <div tabindex="0" role='button' on="tap:prebid-server.close" class="close-inner">
                        <label class="close-label">Back</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="m2 max-width-4">
            <div class="flex flex-wrap justify-center">
                <div class="lg-col-6 sm-col-12">
                    <h1 class="line-height-4 heads dark-gray lg-h2 sm-h3">
                        Prebid Server
                    </h1>
                    <p class="line-height-3 desc light-gray">
                        Speed is the new currency. This is why we work with Prebid, an open source solution, providing
                        speed and scale to any demand partner that wants to work with us. It’s a server-to-server
                        solution that works seamlessly with other demand sources.
                    </p>

                    <p class="line-height-3 desc light-gray">
                        We do the heavy lifting, so you get fast, seamless auctions at scale. In summary, we provide
                        super fast end-to-end header bidding software capable of handling diverse bid types and levels
                        of latency between bidder servers and the auctioneer server for large numbers of bids.
                    </p>

                    <p class="line-height-3 desc light-gray">
                        We are fully TCF 2.0 compliant and hosted with GCP this allows us guarantee 99.99% uptime. We
                        can handle all multi-format ads, whether its display (Web or AMP) or Native ads including Apps
                        and Video.
                    </p>
                </div>
                <div class="lg-col-6 sm-col-12 lightbox-img self-center">
                    <amp-img
                            src="./img/page/amp_monetisation.svg"
                            height="500"
                            width="700"
                            layout="responsive"
                            alt="mobile chat"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
            </div>
        </section>
    </main>
    %%include('./footer.html')
</amp-lightbox>

