<amp-sidebar
        id="header-sidebar"
        class="md-hide lg-hide"
        layout="nodisplay"
        side="left"
>
    <div class="sidebar-x-button">
        <div
                role="button"
                aria-label="close sidebar"
                on="tap:header-sidebar.toggle"
                tabindex="0"
                class="x-button"
        >
            ✕
        </div>
    </div>
    <nav>
        <div>
            <div class="sidebar-logo">
                <a href="index.html">
                    <amp-img
                            src="./img/Logo.svg"
                            width="130"
                            height="65"
                            alt="Company logo"
                            class="sidebar-image"
                            noloading=""
                    >
                        <div placeholder=""></div>
                    </amp-img>
                </a>
            </div>
            <div>
<!--                <amp-action-macro-->
<!--                    id="closeNavigations"-->
<!--                    execute="AMP.setState({myImageUrl: './img/icons/left-arrow.svg', myImageAlt: 'Another example image'})"-->
<!--                ></amp-action-macro>-->
                <amp-accordion disable-session-states>
                    <section>

                        <h2 class="sidebar-accordion-header">
                            Services
<!--                            <amp-img src="./img/icons/right-arrow.svg"-->
<!--                                     width="10"-->
<!--                                     height="10"-->
<!--                                     alt="Example image"-->
<!--                                     [src]="myImageUrl"-->
<!--                                     [alt]="myImageAlt">-->
<!--                            </amp-img>-->
                            <svg width="10" height="5" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
                                <path d="M0,0 l35,50 l35,-50" fill="none" stroke="black" stroke-linecap="round"
                                      stroke-width="5"/>
                            </svg>
                        </h2>
                        <ul class="sidebar-list">
                            <li>
                                <a on="tap:amp-monetization,header-sidebar.toggle" class="list-anchor">AMP
                                    monetization</a>
                            </li>
                            <li>
                                <a on="tap:software-engineering,header-sidebar.toggle" class="list-anchor">Software
                                    Engineering</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="sidebar-accordion-header">
                            Technology
                            <svg width="10" height="5" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
                                <path d="M0,0 l35,50 l35,-50" fill="none" stroke="black" stroke-linecap="round"
                                      stroke-width="5"/>
                            </svg>
                        </h2>
                        <ul class="sidebar-list">
                            <li>
                                <a on="tap:prebid-server,header-sidebar.toggle" class="list-anchor">Prebid Server</a>
                            </li>
                            <li>
                                <a on="tap:bidder,header-sidebar.toggle" class="list-anchor">Bidder</a>
                            </li>
                            <li>
                                <a on="tap:floors,header-sidebar.toggle" class="list-anchor">Floors</a>
                            </li>
                            <li>
                                <a on="tap:leya,header-sidebar.toggle" class="list-anchor">leya</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="sidebar-accordion-header">
                            Resources
                            <div class="inline-block">
                                <svg width="10" height="5" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
                                    <path d="M0,0 l35,50 l35,-50" fill="none" stroke="black" stroke-linecap="round"
                                          stroke-width="5"/>
                                </svg>
                            </div>
                        </h2>
                        <ul class="sidebar-list">
                            <li>
                                <a href="https://triple13.slite.com/api/s/channel/AbLTMzLU7fQ3xKNpEKhsRK/Triple13%3A%20Documentation"
                                   class="list-anchor">Documentation</a>
                            </li>
                            <li>
                                <a href="https://github.com/triple13" class="list-anchor">Github</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="sidebar-accordion-header">
                            About
                            <div class="inline-block">
                                <svg width="10" height="5" viewBox="-2.5 -5 75 60" preserveAspectRatio="none">
                                    <path d="M0,0 l35,50 l35,-50" fill="none" stroke="black" stroke-linecap="round"
                                          stroke-width="5"/>
                                </svg>
                            </div>
                        </h2>
                        <ul class="sidebar-list">
                            <li>
                                <a href="faq.html" class="list-anchor">FAQ</a>
                            </li>
                            <li>
                                <a href="careers.html" class="list-anchor">Careers</a>
                            </li>
                            <li>
                                <a href="charities.html" class="list-anchor">Charities</a>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <h2 class="sidebar-accordion-header">
                            <a on="tap:contact,header-sidebar.toggle" class="contact ampstart-nav-link">Contact</a>
                        </h2>
                        <ul class="sidebar-list">
                        </ul>
                    </section>
                </amp-accordion>
            </div>
        </div>
    </nav>
</amp-sidebar>
