<amp-sidebar
        id="header-sidebar"
        class="md-hide lg-hide"
        layout="nodisplay"
        side="left"
>
    <div class="sidebar-x-button">
        <div
                role="button"
                aria-label="close sidebar"
                on="tap:header-sidebar.toggle"
                tabindex="0"
                class="x-button"
        >
            ✕
        </div>
    </div>
    <nav class="sidebar-wrapper">
        <div class="sidebar-logo">
            <a href="index.html">
                <amp-img
                        src="./img/logo.svg"
                        width="130"
                        height="65"
                        alt="Company logo"
                        class="sidebar-image"
                        noloading=""
                >
                    <div placeholder=""></div>
                </amp-img>
            </a>
        </div>
        <amp-accordion disable-session-states>
            <section>
                <h2 class="sidebar-accordion-header">
                    <span class="show-more">Services
                         <amp-img
                                 src="./img/icons/right-arrow.svg"
                                 width="10"
                                 height="10"
                                 alt="Example image"
                         >
                        </amp-img>
                    </span>
                    <span class="show-less">Services
                        <amp-img
                                src="./img/icons/angle-arrow-down.svg"
                                width="10"
                                height="10"
                                alt="Example image"
                        >
                        </amp-img>
                    </span>
                </h2>
                <ul class="sidebar-list">
                    <li>
                        <a href="amp-monetization.html" class="list-anchor">AMP
                            monetization</a>
                    </li>
                    <li>
                        <a href="software-engineering.html" class="list-anchor">Software
                            Engineering</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="sidebar-accordion-header">
                    <span class="show-more">Technology
                         <amp-img
                                 src="./img/icons/right-arrow.svg"
                                 width="10"
                                 height="10"
                                 alt="Example image"
                         >
                        </amp-img>
                    </span>
                    <span class="show-less">Technology
                        <amp-img
                                src="./img/icons/angle-arrow-down.svg"
                                width="10"
                                height="10"
                                alt="Example image"
                        >
                        </amp-img>
                    </span>
                </h2>
                <ul class="sidebar-list">
                    <li>
                        <a href="prebid-server.html" class="list-anchor">Prebid Server</a>
                    </li>
                    <li>
                        <a href="bidder.html" class="list-anchor">Bidder</a>
                    </li>
                    <li>
                        <a href="floors.html" class="list-anchor">Floors</a>
                    </li>
                    <li>
                        <a href="leya.html" class="list-anchor">Leya</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="sidebar-accordion-header">
                    <span class="show-more">Resources
                         <amp-img
                                 src="./img/icons/right-arrow.svg"
                                 width="10"
                                 height="10"
                                 alt="Example image"
                         >
                        </amp-img>
                    </span>
                    <span class="show-less">Resources
                        <amp-img
                                src="./img/icons/angle-arrow-down.svg"
                                width="10"
                                height="10"
                                alt="Example image"
                        >
                        </amp-img>
                    </span>
                </h2>
                <ul class="sidebar-list">
                    <li>
                        <a href="https://triple13.slite.com/api/s/note/Pxp7BcFbQoxHSuaDVCZQ9f/Triple13-Documentation"
                           class="list-anchor">Documentation</a>
                    </li>
                    <li>
                        <a href="https://github.com/triple13" class="list-anchor">Github</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="sidebar-accordion-header">
                    <span class="show-more">About
                         <amp-img
                                 src="./img/icons/right-arrow.svg"
                                 width="10"
                                 height="10"
                                 alt="Example image"
                         >
                        </amp-img>
                    </span>
                    <span class="show-less">About
                        <amp-img
                                src="./img/icons/angle-arrow-down.svg"
                                width="10"
                                height="10"
                                alt="Example image"
                        >
                        </amp-img>
                    </span>
                </h2>
                <ul class="sidebar-list">
                    <li>
                        <a href="faq.html" class="list-anchor">FAQ</a>
                    </li>
                    <li>
                        <a href="careers.html" class="list-anchor">Careers</a>
                    </li>
                    <li>
                        <a href="charities.html" class="list-anchor">Charities</a>
                    </li>
                </ul>
            </section>
            <section>
                <h2 class="sidebar-accordion-header">
                    <a href="contact-us.html" class="contact ampstart-nav-link">Contact</a>
                </h2>
                <div>
                </div>
            </section>
        </amp-accordion>
    </nav>
</amp-sidebar>
