<ul class="ampfooter-icons">
    <li>
        <a
                href="https://www.linkedin.com/company/triple13/"
                target="_blank"
                rel="noreferrer"
                class="inline-block p1"
                aria-label="Link to AMP HTML Instagram"
        >
            <svg xmlns="http://www.w3.org/2000/svg" fill="#454545" width="24" height="24" viewBox="0 0 24 24"><path  d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/></svg>
        </a>
    </li>
    <li>
        <a
                href="https://twitter.com/triple13ltd"
                target="_blank"
                rel="noreferrer"
                class="inline-block p1"
                aria-label="Link to AMP HTML Twitter"
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 53 49"
                    fill="#454545"

            >
                <title>Twitter</title>
                <path
                        d="M45 6.9c-1.6 1-3.3 1.6-5.2 2-1.5-1.6-3.6-2.6-5.9-2.6-4.5 0-8.2 3.7-8.2 8.3 0 .6.1 1.3.2 1.9-6.8-.4-12.8-3.7-16.8-8.7C8.4 9 8 10.5 8 12c0 2.8 1.4 5.4 3.6 6.9-1.3-.1-2.6-.5-3.7-1.1v.1c0 4 2.8 7.4 6.6 8.1-.7.2-1.5.3-2.2.3-.5 0-1 0-1.5-.1 1 3.3 4 5.7 7.6 5.7-2.8 2.2-6.3 3.6-10.2 3.6-.6 0-1.3-.1-1.9-.1 3.6 2.3 7.9 3.7 12.5 3.7 15.1 0 23.3-12.6 23.3-23.6 0-.3 0-.7-.1-1 1.6-1.2 3-2.7 4.1-4.3-1.4.6-3 1.1-4.7 1.3 1.7-1 3-2.7 3.6-4.6"
                        class="ampstart-icon ampstart-icon-twitter"
                ></path>
            </svg>
        </a>
    </li>
</ul>
