<amp-lightbox id="software-engineering" layout="nodisplay" scrollable class="lightbox">
    <main class="flex flex-column col-12 items-center">
        <section class="lg-m2 max-width-4 col-12">
            <div class="flex justify-end">
                <div class="close-outer">
                    <div tabindex="0" role='button' on="tap:software-engineering.close" class="close-inner">
                        <label class="close-label">Back</label>
                    </div>
                </div>
            </div>
        </section>
        <section class="m2 max-width-4">
            <div class="flex flex-wrap justify-center">
                <div class="lg-col-6 sm-col-12">
                    <h1 class="line-height-4 heads dark-gray lg-h2 sm-h3">
                        Software Engineering
                    </h1>
                    <p class="line-height-3 desc light-gray">
                        We specialise in all things advertising technology (Ad-tech)
                        related. Whether you are looking for a technology partner for header bidding, building bespoke
                        reporting tools, a proof of concept or building a full application like an SSP, DSP or DMP we have
                        the skills you need.
                    </p>
                </div>
                <div class="lg-col-6 sm-col-12 lightbox-img self-center">
                    <amp-img
                            src="./img/page/software_engineering.svg"
                            height="500"
                            width="700"
                            layout="responsive"
                            alt="mobile chat"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
            </div>
        </section>
    </main>
    %%include('./footer.html')
</amp-lightbox>

