<amp-lightbox id="software-engineering" layout="nodisplay" scrollable class="lightbox">
    <section class="flex justify-center col-12">
        <div class="m2 max-width-4">
            <div class="close-outer">
                <div tabindex="0" role="button" on="tap:software-engineering.close" class="close-inner">
                    <label class="close-label">Back</label>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="lg-col-6 sm-col-12 lg-m1">
                    <h1 class="line-height-4 heads dark-gray lg-h2 sm-h3">
                        Software Engineering
                    </h1>
                    <h3 class="line-height-4 heads dark-gray">What we can build</h3>
                    <p class="line-height-3 desc light-gray">
                        We specialise in all things advertising technology (Ad-tech)
                        related. Whether you are looking for a technology partner for header bidding, building bespoke
                        reporting tools, a proof of concept or building a full application like an SSP, DSP or DMP we have
                        the skills you need.
                    </p>

                    <button class="mt3 buttons" on="tap:software-engineering.close, contact.open">Contact Us</button>

                </div>
                <div class="lg-col-5 sm-col-12 lg-m1 lightbox-img self-center">
                    <amp-img
                            src="./img/page/software_engineering.svg"
                            height="500"
                            width="700"
                            layout="responsive"
                            alt="mobile chat"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>

            </div>
        </div>
        </div>
    </section>
    %%include('../partials/footer.html')
</amp-lightbox>

