<amp-lightbox id="technology" layout="nodisplay" scrollable class="lightbox">
    <section class="flex justify-center col-12">
        <div class="m2 max-width-4">
            <div class="close-outer">
                <div tabindex="0" role="button" on="tap:technology.close" class="close-inner">
                    <label class="close-label">Back</label>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="lg-col-6 sm-col-12 lg-m1">
                    <h1 class="line-height-4 heads dark-gray lg-h2 sm-h3">
                        Technology
                    </h1>

                    <h2 class="line-height-4 heads dark-gray">Floors</h2>

                    <h3 class="line-height-4 heads dark-gray">What does Floors do?</h3>
                    <p class="line-height-3 desc light-gray">
                        Floors is a constantly learning piece of technology that optimises Unified Pricing Rules in Google
                        AdManager to create increased revenues.
                    </p>
                    <p class="line-height-3 desc light-gray">
                        The algorithm primary focus is to create the highest amount of revenue for each ad-request sent to
                        Google AdManager. Please note that its focus is on Ad-Request eCPM and this will create some level
                        of unfilled impressions.
                    </p>
                    <p class="line-height-3 desc light-gray">
                        These unfilled impressions need to happen, as they are the bi-product of setting the optimal floor
                        pricing and getting the best overall returns. Yes, you can fill these unfilled impressions with a
                        house campaign if you so wish.
                    </p>
                </div>
                <div class="lg-col-5 sm-col-12 lg-m1 lightbox-img self-center">
                    <amp-img
                            src="./img/mobile-chat.svg"
                            height="500"
                            width="700"
                            layout="responsive"
                            alt="mobile chat"
                            noloading=""
                    >
                        <div placeholder="" class="commerce-loader"></div>
                    </amp-img>
                </div>
                <div class="lg-col-12 sm-col-12 lg-m1">
                    <h3 class="line-height-4 heads dark-gray">What results should be expected?</h3>
                    <p class="line-height-3 desc light-gray">
                        Most publishers see between a 30 to 50% revenue increase over an extended period of time. When
                        Floors is first put to work on new inventory this percentage will likely be higher for a period of
                        time, until the dynamic buyers DSP/buying platform technologies get accustomed to the new norm of
                        the inventory pricing.
                    </p>
                    <p class="line-height-3 desc light-gray">
                        There are no underhand bidding practices happening inside of Floors, the magic is managing & testing
                        millions of pricing combinations at scale. Floors optimises across website, ad-unit, ad-size, geo,
                        device, day and hour to ensure the right pricing is applied.
                    </p>

                    <button class="mt3 buttons" on="tap:technology.close, contact.open">Contact Us</button>
                </div>

            </div>
        </div>
        </div>

    </section>
    %%include('../partials/footer.html')
</amp-lightbox>
