@import "../variables";

amp-sidebar {
  background-color: #fff;
  width: 100vw;
  max-width: 100vw;
  //text-align: center;
}

amp-sidebar .x-button {
  margin: 1rem;
  font-size: 1.5rem;
  line-height: normal;
  top: 0;
}

amp-sidebar .sidebar-image {
  margin-bottom: 1.2rem;
}

amp-sidebar .sidebar-accordion-header {
  background-color: transparent;
  border: none;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: normal;
  margin: 0.5rem;
  padding-right: 0;
  color: $t13-dark-gray;
}

amp-sidebar .sidebar-accordion-header:focus {
  outline: none;
}

amp-sidebar .list-anchor {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: $t13-dark-gray;
}

amp-sidebar .contact {
  text-decoration: none;
  color: $t13-dark-gray;
}

amp-sidebar .follow-us {
  font-family: 'Noto Sans', sans-serif;
}

amp-sidebar nav div a {
  text-decoration: none;
  display: block;
}

.sidebar-x-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidebar-list {
  list-style:none;
  padding-left:0;
  margin-left: 0.83rem;
}

.sidebar-list > li:not(:last-child) {
  margin-bottom: 1rem;
}

.sidebar-logo {
  margin-left: 0.83rem;
}

section[expanded] .show-more {
  display: none;
}

section:not([expanded]) > h2 > .show-less {
  display: none;
}

.sidebar-wrapper {
  margin-left: 1rem;
}

